<!--
  Name: Shauna Ayscue
  Date: 04.18.2025
  CSC 372-01

This page is the landing page that provids functionality to view a list of all the joke categories and selecting one of the
categories gets the jokes of a category. This is also be possible by directly inputting a category name on a search field. Finally, 
a form lets a user create a new joke and after, it displays the jokes in that category to show it has been added.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/main.css">
</head>
