<div id="form-popup">
    <form id="form-container">
        <h1>New Joke</h1>
        <input id="form-category" type="text" placeholder="Category" name="category">
        <input id="form-setup" type="text" placeholder="Setup" name="setup">
        <input id="form-delivery" type="text" placeholder="Delivery" name="delivery">
        <button id="save-game" type="submit">Save</button>
        <button id="cancel-btn" type="button">Close</button>
    </form>
</div>